---
import { useState } from "react";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props;
---

<section class="max-w-4xl mx-auto relative">
  <div
    class="my-12 sm:my-20 mx-2 sm:mx-4 py-6 sm:py-12 px-4 md:px-8 border border-zinc-800 rounded-lg shadow-lg"
  >
    <div class="flex flex-col sm:flex-row gap-4 justify-between mb-8">
      <h2
        class="text-4xl md:text-5xl font-extrabold mb-2 sm:mb-6 tracking-tight"
      >
        {blok.title}
      </h2>
      {
        blok.cta_url && (
          <a
            href={blok.cta_url}
            target="_blank"
            class="flex gap-2 h-9 justify-center text-sm text-center bg-gradient-to-r from-primary-gradientStart to-primary text-white px-4 py-2 rounded-full shadow hover:bg-gray-200 transition"
          >
            {blok.cta_text || "Lebenslauf herunterladen"}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
              />
            </svg>
          </a>
        )
      }
    </div>

    <div
      id="expandable-wrapper"
      class="relative max-h-[550px] overflow-hidden transition-all duration-500"
      data-expanded="false"
    >
      <div>
        {blok.items.map((entry) => <StoryblokComponent blok={entry} />)}
      </div>

      <!-- Blur overlay -->
      <div
        id="blur-overlay"
        class="absolute -bottom-4 sm:bottom-0 w-full h-32 bg-gradient-to-t from-black to-transparent pointer-events-none"
      >
      </div>
    </div>

    <button
      id="expand-button"
      class="w-full mt-6 py-2 rounded-md text-sm text-white bg-black/70 backdrop-blur border border-zinc-700 hover:bg-black transition"
      onclick="
        const wrapper = document.getElementById('expandable-wrapper');
        const blur = document.getElementById('blur-overlay');
        const expanded = wrapper.getAttribute('data-expanded') === 'true';

        if (!expanded) {
          wrapper.style.maxHeight = wrapper.scrollHeight + 'px';
          wrapper.setAttribute('data-expanded', 'true');
          blur.style.display = 'none';
          this.innerText = 'Weniger anzeigen';
        } else {
          wrapper.style.maxHeight = '550px';
          wrapper.setAttribute('data-expanded', 'false');
          blur.style.display = 'block';
          this.innerText = 'Mehr anzeigen';
        }
      "
    >
      Mehr anzeigen
    </button>
  </div>
</section>
