---
import StoryblokRichText from "../components/StoryblokRichText.astro";

const { blok } = Astro.props;
---

<div
  class={`prose max-w-7xl mx-auto pt-6 sm:pt-12 ${blok.usePadding ? "px-4 sm:px-6 lg:px-8" : ""}`}
>
  {
    blok.text && (
      <div>
        <StoryblokRichText content={blok.text} />
      </div>
    )
  }
</div>
