---
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { BackButton } from "../../components/BackButton";

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();

  const links = await storyblokApi.getAll("cdn/links", {
    version: import.meta.env.DEV ? "draft" : "published",
  });

  return links
    .filter((link) => !link.is_folder && link.slug.startsWith("projects/"))
    .map((link) => ({
      params: { slug: link.slug.replace("projects/", "") },
    }));
}

const { slug } = Astro.params;
const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/projects/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const story = data.story;
---
<BaseLayout>
  {
    story ? (
      <>
        <StoryblokComponent blok={story.content} />
        <div class="fixed bottom-12 right-10 z-50">
          <BackButton href={"/projects"}/>
        </div>
      </>
    ) : (
      <section class="max-w-2xl mx-auto py-20 px-4 text-center">
        <h1 class="text-4xl sm:text-5xl md:text-7xl font-extrabold mb-6 tracking-tight text-center">Projekt nicht gefunden</h1>
        <p class="text-lg sm:text-xl md:text-2xl text-zinc-300 mb-10 leading-relaxed font-medium text-center">
          Dieses Projekt existiert nicht oder wurde entfernt.
        </p>
      </section>
    )
  }
</BaseLayout>

